.App{
  font-size: 14px;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#heart{
  width: auto;
  height: 25px;
  margin-left: 20px;
  transition: ease-in-out 300ms;
}
#heart:hover{
  cursor: pointer;
  transform: rotate(20deg);
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;

}
li {
  height: 20px;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#beer:hover {
  cursor: pointer;
  color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
